<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [1]:
# Import the necessary libraries
import pandas as pd
import sqlite3

conn = sqlite3.connect('FinalDB.db')

print("Connection to FinalDB.db established successfully!")

Connection to FinalDB.db established successfully!

Load the SQL magic module

In [2]:
# Load the SQL extension
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [3]:
chicago_census_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
chicago_census_df = pd.read_csv(chicago_census_url)

chicago_schools_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
chicago_schools_df = pd.read_csv(chicago_schools_url)

chicago_crime_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
chicago_crime_df = pd.read_csv(chicago_crime_url)


chicago_census_df.to_sql('ChicagoCensusData', conn, if_exists='replace', index=False)

chicago_schools_df.to_sql('ChicagoSchoolsData', conn, if_exists='replace', index=False)

chicago_crime_df.to_sql('ChicagoCrimeData', conn, if_exists='replace', index=False)

# Commit the transaction
conn.commit()

result_df = pd.read_sql_query("SELECT * FROM ChicagoCensusData LIMIT 5;", conn)
print(result_df)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

   COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT_OF_HOUSING_CROWDED  \
0                    1.0         Rogers Park                         7.7
1                    2.0          West Ridge                         7.8
2                    3.0              Uptown                         3.8
3                    4.0      Lincoln Square                         3.4
4                    5.0        North Center                         0.3

   PERCENT_HOUSEHOLDS_BELOW_POVERTY  PERCENT_AGED_16__UNEMPLOYED  \
0                              23.6                          8.7
1                              17.2                          8.8
2                              24.0                          8.9
3                              10.9                          8.2
4                               7.5                          5.2

   PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  \
0                                          18.2
1                                          20.8
2                                          11.8
3                                          13.4
4                                           4.5

   PERCENT_AGED_UNDER_18_OR_OVER_64  PER_CAPITA_INCOME  HARDSHIP_INDEX
0                              27.5              23939            39.0
1                              38.5              23040            46.0
2                              22.2              35787            20.0
3                              25.5              37524            17.0
4                              26.2              57123             6.0

Establish a connection between SQL magic module and the database `FinalDB.db`

In [4]:
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [5]:
%%sql
SELECT COUNT(*) AS total_crimes FROM ChicagoCrimeData;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [6]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME
FROM ChicagoCensusData
WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [12]:
%%sql
SELECT CASE_NUMBER
FROM ChicagoCrimeData 
WHERE PRIMARY_TYPE IN (
    'BATTERY',
    'ASSAULT',
    'CRIMINAL DAMAGE',
    'NARCOTICS',
    'ROBBERY',
    'CRIMINAL TRESPASS',
    'PROSTITUTION',
    'WEAPONS VIOLATION',
    'LIQUOR LAW VIOLATION',
    'KIDNAPPING',
    'CRIM SEXUAL ASSAULT',
    'SEX OFFENSE',
    'PUBLIC INDECENCY'
);

 * sqlite:///FinalDB.db
Done.

[('HS451246',),
 ('HH316735',),
 ('G597730',),
 ('G736811',),
 ('HT651635',),
 ('HZ432273',),
 ('G517474',),
 ('HP746347',),
 ('G056330',),
 ('HN772519',),
 ('HZ309936',),
 ('HY368284',),
 ('HL353697',),
 ('HT375934',),
 ('JA188596',),
 ('HL725506',),
 ('HV395700',),
 ('HH696901',),
 ('HT390647',),
 ('HK815196',),
 ('JA490957',),
 ('HK103473',),
 ('HM556695',),
 ('HH558381',),
 ('HK498590',),
 ('HX455839',),
 ('HR703960',),
 ('HL646682',),
 ('HV445580',),
 ('G688026',),
 ('HJ466766',),
 ('HL632721',),
 ('HP579910',),
 ('HL718742',),
 ('HP714065',),
 ('HP716225',),
 ('HW481295',),
 ('HS568476',),
 ('JB213238',),
 ('HS475732',),
 ('HS595785',),
 ('HR408597',),
 ('HT542713',),
 ('HL240985',),
 ('HJ254782',),
 ('HK561262',),
 ('HW213573',),
 ('G419948',),
 ('HL177008',),
 ('HJ639869',),
 ('HM217017',),
 ('HL388623',),
 ('HY189363',),
 ('HS498285',),
 ('HN224900',),
 ('HR387668',),
 ('HJ294892',),
 ('HL745027',),
 ('G533278',),
 ('HH827769',),
 ('HH639427',),
 ('HK771992',),
 ('HH867007',),
 ('HJ575773',),
 ('HR136920',),
 ('HT457930',),
 ('G070193',),
 ('HJ724585',),
 ('HP121474',),
 ('G198370',),
 ('HJ723825',),
 ('HJ458342',),
 ('HP558812',),
 ('HY192694',),
 ('HN472326',),
 ('HK756778',),
 ('HH741961',),
 ('JA460432',),
 ('G140454',),
 ('HX239866',),
 ('HM378171',),
 ('HW182288',),
 ('HZ295843',),
 ('HM673431',),
 ('HP352546',),
 ('HR286405',),
 ('HR195987',),
 ('HW261668',),
 ('JA496716',),
 ('JA344492',),
 ('HZ334220',),
 ('HR217367',),
 ('HV268964',),
 ('JA483294',),
 ('HT169840',),
 ('HT621306',),
 ('HS269736',),
 ('HK243330',),
 ('HH262924',),
 ('HL613433',),
 ('HY267896',),
 ('HN568531',),
 ('HT112422',),
 ('HV479133',),
 ('HV592346',),
 ('HH619797',),
 ('HZ376709',),
 ('HV573337',),
 ('HL269210',),
 ('HL567458',),
 ('HR674429',),
 ('HM200888',),
 ('HX467661',),
 ('HX448587',),
 ('HS200939',),
 ('HN335611',),
 ('HZ535494',),
 ('HX154767',),
 ('HM337445',),
 ('HM244120',),
 ('HR342598',),
 ('HL187666',),
 ('HW449676',),
 ('HS589302',),
 ('HX145326',),
 ('HN553354',),
 ('HN784049',),
 ('HJ527694',),
 ('HM303461',),
 ('HM535632',),
 ('HT353855',),
 ('G134016',),
 ('HR125162',),
 ('G496261',),
 ('HJ842548',),
 ('HN280980',),
 ('JA560123',),
 ('HY405637',),
 ('HP689703',),
 ('HR345366',),
 ('HZ242802',),
 ('HM661326',),
 ('HJ336995',),
 ('HK694552',),
 ('HJ760939',),
 ('HV366181',),
 ('HJ563089',),
 ('HH576932',),
 ('HR308948',),
 ('HK100758',),
 ('HV328581',),
 ('HV267193',),
 ('HJ620738',),
 ('HJ557529',),
 ('HS498920',),
 ('HL608698',),
 ('G323273',),
 ('HK577020',),
 ('HY365876',),
 ('HS305355',),
 ('HK162357',),
 ('HN778969',),
 ('HV185969',),
 ('HH657604',),
 ('HW555338',),
 ('HV268708',),
 ('G170513',),
 ('HW160463',),
 ('HN355411',),
 ('HK190723',),
 ('HV457847',),
 ('HW566855',),
 ('HL141298',),
 ('HR281750',),
 ('HL342355',),
 ('HX112183',),
 ('HJ624999',),
 ('HJ618818',),
 ('HR597126',),
 ('HN558484',),
 ('HR505781',),
 ('HN522324',),
 ('HN647052',),
 ('HT323138',),
 ('HW562748',),
 ('HN719188',),
 ('HT237921',),
 ('HY215032',),
 ('HK369511',),
 ('HL703172',),
 ('HM762800',),
 ('HN370211',),
 ('HR195962',),
 ('HM284854',),
 ('HL319228',),
 ('HR447925',),
 ('HM590293',),
 ('HP513177',),
 ('HL331611',),
 ('HN448271',),
 ('HH402660',),
 ('HN422493',),
 ('HP263901',),
 ('G577663',),
 ('HN182437',),
 ('HW493063',),
 ('HJ637197',),
 ('HH829588',),
 ('HZ322965',),
 ('HW415978',),
 ('HL315870',),
 ('HJ222529',),
 ('HM535930',),
 ('HZ242203',),
 ('HN213069',),
 ('HH343366',),
 ('JA269772',),
 ('HH106347',),
 ('HM507529',),
 ('HP258815',),
 ('HL111533',),
 ('HS479338',),
 ('HZ403432',),
 ('HV462975',),
 ('HW414519',),
 ('HL414306',),
 ('HT315369',),
 ('HL330223',),
 ('HK751265',),
 ('HT540548',),
 ('HX398190',),
 ('HK348713',),
 ('HR206683',),
 ('HH154448',),
 ('JA462321',),
 ('HV233824',),
 ('HL213843',),
 ('HM422467',),
 ('JA192460',),
 ('HL446401',),
 ('HS330202',),
 ('HP661088',),
 ('HJ281736',),
 ('HN136243',),
 ('HJ580490',),
 ('HV213648',),
 ('HV514287',),
 ('HJ753917',),
 ('JA133264',),
 ('HJ642080',),
 ('JA557966',),
 ('HV548880',),
 ('HR480844',),
 ('HW568748',),
 ('HH405177',),
 ('HL472862',),
 ('G326063',),
 ('HL424420',),
 ('JA393243',),
 ('HR585012',),
 ('JA455629',),
 ('HV369974',),
 ('HN637742',),
 ('HW557360',),
 ('HJ776916',),
 ('HJ419340',),
 ('HH329720',),
 ('HM802052',),
 ('HJ804627',),
 ('HR190881',),
 ('G575031',),
 ('G122095',),
 ('HN595319',),
 ('G302291',),
 ('G057394',),
 ('HM590468',),
 ('HV463112',),
 ('HK749575',),
 ('HS100098',),
 ('HW576249',),
 ('HK485601',),
 ('HH460583',),
 ('HM576559',),
 ('HH688935',),
 ('HK677648',),
 ('G158614',),
 ('HK310265',),
 ('HR314298',),
 ('HT404326',),
 ('HL266884',),
 ('HK238408',),
 ('HN144152',),
 ('HZ378869',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [13]:
%%sql
SELECT CASE_NUMBER
FROM ChicagoCrimeData 
WHERE PRIMARY_TYPE = 
    'KIDNAPPING'

 * sqlite:///FinalDB.db
Done.

[('HN144152',)]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [17]:
%%sql
SELECT distinct PRIMARY_TYPE
FROM ChicagoCrimeData where LOCATION_DESCRIPTION like '%school%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [22]:
%%sql

SELECT 
    `Elementary, Middle, or High School`,
    AVG(SAFETY_SCORE) AS Average_Safety_Score
FROM 
    ChicagoSchoolsData
GROUP BY 
    `Elementary, Middle, or High School`;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [27]:
%%sql
SELECT 
    COMMUNITY_AREA_NAME,
    PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM 
    ChicagoCensusData
ORDER BY 
    PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC
LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [34]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM ChicagoCrimeData 
group by COMMUNITY_AREA_NUMBER
order by count(*) desc
LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [36]:
%%sql
SELECT 
    COMMUNITY_AREA_NAME
FROM 
    ChicagoCensusData
WHERE 
    HARDSHIP_INDEX = (
        SELECT 
            MAX(HARDSHIP_INDEX)
        FROM 
            ChicagoCensusData
    );

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [42]:
%%sql
SELECT 
    COMMUNITY_AREA_NAME
FROM 
    ChicagoCensusData
WHERE 
    COMMUNITY_AREA_NUMBER = (
        SELECT 
            COMMUNITY_AREA_NUMBER
        FROM 
            ChicagoCrimeData
        GROUP BY 
            COMMUNITY_AREA_NUMBER
        ORDER BY 
            COUNT(*) DESC
        LIMIT 1
    );

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>